.breadcrumb li {padding-right:0px;}

a:hover {color:#00498a;text-decoration: none; }

.W300-box h2 a {color:#fff;text-decoration: none; }

.W300-box h2 a:hover {color:#93c2f6;text-decoration: none; }


ul, li{list-style-type:none; margin:0px; padding:0px;}

.index-more-a{clear:both}

.SU-box{ width:1000px; height:auto; min-height:500px; margin:10px auto;  }

.SUleft-box{ width:660px; float:left;height:auto; }

.SUright-box{ width:320px; float:right;height:auto; }

.box-border{ border:1px solid #dedede; border-radius:5px; background:#fff;}

.W660{ width:660px;  padding:10px 20px; margin-bottom:30px; float:left }

.W320{ width:320px; padding:10px 20px; margin-bottom:30px; float:left }

.SU-box h1{ width:100%; font-size:24px;  color:#104783; line-height:2}

.SU-box h2{ width:100%; font-size:16px;  color:#333; line-height:2; font-weight:bold}

.SU-box h3{ width:100%; font-size:16px;  color:#104783; line-height:2; font-weight:bold; }

.txt-A{ width:100%; font-size:14px;line-height:2}

.list-txt{ border-top:1px dashed #dce3e7; padding-top:10px; margin-top:10px;font-size:14px;line-height:2}

.list-txt p{font-size:14px;line-height:1.6; word-break:break-all}

.tlite-list-A li{ background:url(../SU/images/tit-bj1.jpg) repeat-x;  border-radius:20px; width:130px; height:32px; border:1px solid #d2d2d2;overflow:hidden; line-height:32px; font-size:16px; text-align:center; float:left; margin:10px 24px 5px 0px; }

.W320 .tlite-list-A li{margin:10px 9px 5px 0px; }

.tlite-list-B li{ border-bottom:1px solid #dce3e7; width:185px; height:32px; background:url(../SU/images/tit-bj2.jpg) no-repeat; padding-left:20px; line-height:32px; margin-right:20px; margin-bottom:5px; float:left; font-size:16px; overflow:hidden; }

.tlite-list-C li{ width:280px; height:32px; overflow:hidden; line-height:32px; font-size:16px; float:left; }


.tlite-list-D li{ border-bottom:1px solid #dce3e7; width:280px; height:32px; background:url(../SU/images/tit-bj2.jpg) no-repeat; padding-left:20px; line-height:32px; margin-right:20px; margin-bottom:5px; float:left; font-size:16px; overflow:hidden; }
.tlite-list-D{ padding:20px 0px; float:left}

.W300-box{ width:300px; height:260px; background:#f9f9f9;margin:10px 10px 15px 0px; float:left; }
.W300-box h2{ height:40px; background:#104783; color:#fff; text-align:center; line-height:40px; }
.W300-box h3{ width:280px; height:30px; line-height:30px; font-size:16px; margin-top:10px; margin-left:10px; overflow:hidden;}
.W300-box  p{ width:280px; height:50px; line-height:2; margin-left:10px; overflow:hidden;}

.SU-menu {
    background-clip: padding-box;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: none;
    left:-470px;
    list-style: outside none none;
    margin: 1px 0 0;
    width:522px;
    padding: 10px 10px;
    position: absolute;
    top: 100%;
    z-index: 1000;}

.SU-menu li{ font-size:16px; width:100px; height:25px; line-height:25px; float:left; padding-right:10px; }

