.xxpl_top{
    background: url(img/top.png) no-repeat center;
    height: 274px;
}
.xxpl_container p{
    margin:0;
    padding:0;
}
.xxpl_container{
    border:1px solid #dedede;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #fff;
    margin-top:-51px;
    margin-bottom: 30px;
}
.xxpl_tab{
    width: 100%;
    list-style: none;
    margin:0;
}
.xxpl_tab li{
    float: left;
    width: 33.3%;
    border-bottom: 1px solid #dedede;
    text-align: center;
    padding:16px 0;
    font-size: 18px;
    color: #666;
    cursor: pointer;
}
.xxpl_tab li:hover{
    color: #3f9bff;
}
.xxpl_tab li.mid{
    width: 33.4%;
    border: 1px solid #dedede;
    border-top:none;
}
.xxpl_tab li.active{
    border-bottom: none;
    color: #3f9bff;
}
.xxpl_content{
    margin-top: 40px;
   /* padding:0 43px;*/
}
.ptbg .ptbg_condi{
    padding:0 43px;
}
.ptbg_condi span{
    display: inline-block;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    color: #666;
    width: 61px;
    padding:5px 0;
}
.ptbg_condi span.pl3{
    padding-left:3px;
}
.ptbg_condi span:hover{
    background-color: #3f9bff;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.ptbg_condi span.active{
    background-color: #3f9bff;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.ptbg ul{
    display: inline-block;
    width: 100%;
    list-style: none;
    margin:0;
    padding: 40px 0 50px 0;
    border-bottom: 1px dashed #efefef;
}
.ptbg li{
    float: left;
}
.ptbg li.mid_l{
    padding-left: 43px;
}
.ptbg li.mid{
    margin:0 29px;
}
.ptbg li img{
    width: 284px;
    height: 302px;
}
.ptbg li p{
    font-size: 16px;
    color: #353535;
    text-align: center;
    padding-top:29px;
}
.bbd_efe{
    border-bottom: 1px dashed #efefef;
}
.spelatepage{
    height: 35px;
    line-height: 33px;
}
.xxpl_spe{
    margin:40px 0 50px 0;
}
.xxpl {
    padding:0 43px;
}
.xxpl_content{

}
.pro_content{
    margin-bottom: 50px;
}
.pro_content .title{
    font-size: 18px;
    color: #353535;
    background: url(img/i.jpg) no-repeat 0 0;
    height: 18px;
    line-height: 18px;
    padding-left: 10px;
    margin-bottom: 20px;
}
.pro_content .p3 a{
    text-decoration: underline;
}
.w467{
    width: 467px;
}
.w443{
    width: 443px;
}
.mb25{
    margin-bottom: 25px;
}
.fk_pos{
    position: absolute;
    top: 40px;
    left: 33px
}
.pro_content .title_sub{
    font-size: 16px;
    background:none;
    padding-left:0;
    margin-bottom: 0;
}
.pro_content .mb0{
    margin-bottom: 0;
}
.yyzz{
    margin:0;
    list-style: none;
}
.yyzz li{
    display: inline-block;
    width: 49%;
    text-align: center;
}
.ygqk{
    margin:0;
    list-style: none;
}
.ygqk li{
    display: inline-block;
    width: 255px;
    height: 226px;
    margin-bottom: 30px;
    text-align: center;
}
.ygqk li.mid{
    margin:0 68px;
}
.pro_content .mt40{
    margin-top:40px;
}
.ptsj{
    padding:0 43px;
}
.sjzl{
    list-style: none;
    margin:65px 0 80px;
    width: 100%;
    padding:0 112px;
}
.sjzl li{
    display: inline-block;
   /* width: 33%;*/
}
.sjzl li.ml139{
    margin-left:129px;
}
.sjzl p{
    text-align: center;
}
.font-353535{
    color: #353535;
}
.sjzl .mt15{
    margin-top:15px;
}